<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.github.gulfclob.androidfitnesstest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FitnessListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneRmActivity"
            android:label="@string/rm_calc_title" />
        <activity
            android:name=".TdeeCalcActivity"
            android:label="@string/tdee_calc_title"/>
        <activity
            android:name=".StrStdActivity"
            android:label="@string/str_std_title"/>
        <activity
            android:name=".RoutineListActivity"
            android:label="@string/routine_title"/>
        <activity
            android:name=".RoutineActivity"
            android:label="@string/routine_title"/>
    </application>

</manifest>
